* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-rows: 120px 5fr 50px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title {
  justify-self: start;
  align-self: center;
}

.navbar {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 20px;
}

.navbar button {
  border: none;
  font-size: 30px;
  width: fit-content;
  background: none;
}

button:hover {
  cursor: pointer;
}

.footer {
  line-height: 50px;
  justify-self: center;
}
